.table>tbody>tr>td.verification{padding:15px 0;}
.form-group{margin-bottom:20px;}
.box-header.box-alienChange{height:1px;line-height:1px}
.whspace{white-space:normal !important;}
.alcwidth10{width:10% !important;}
.alcwidth45{width:45% !important;}